body{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:'Segoe UI',Helvetica,Arial,Sans-Serif
}

html{
    font-size: 62.5%;
}

#myMap{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.NavBar_MapTypeButtonContainerWrapper,
#LocateMeButton,
#ZoomInButton,
#ZoomOutButton{
    display: none;
}

#delete-pins-btn{
    position: absolute;
    right: 10%;
    top: 5%;
    padding: 1rem 3rem;
    font-weight: bold;
    background-color: #ec5858;
    color: #fff;
    z-index: 10;
    width: 15rem;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
}

#printoutPanel{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 4rem;
    border: .5px solid black;
    font-size: 1.1rem;
    font-weight: bolder;
    border-radius: 3px;
}

#searchBoxContainer{
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10;
}

#searchBox{
padding: 1rem 5rem;
border-radius: 25px;
}

#searchBox:active,
#searchBox:focus{
    outline: none;
}

@media only screen and (max-width:800px){
    #printoutPanel{
        display:none;
    }
}



@media only screen and (max-width:500px){
    #clear-pins-btn{
        bottom: 5%;
        top:auto;
       }
}