body{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:'Segoe UI',Helvetica,Arial,Sans-Serif
}

html{
    font-size: 62.5%;
}

#myMap{
    position: relative;
    width: 100vw;
    height: 100vh;

}

.form{
position: absolute;
left: 3%;
top: 3%;
}

input{
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 1rem 15rem 1rem 1rem;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
    font-weight: bold;
    color:#999;
}


input:active,
input:focus{
    outline: none;
}

button{
    padding: 1rem 2.5rem .9rem;
    border-radius: 5px;
    border: none;
    background-color: #e8e8e8;
    font-weight: bold;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
    cursor: pointer;
    transition: all .2s;
}

button:active,
button:focus{
    outline: none;
}

button:hover{
    background-color: #39311d;
    color: #fff;
    transform: translate(.2rem,-.1rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}

button:active{
    transform:translate(0,0);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
}

@media only screen and (max-width: 600px){
    .form{
        position: absolute;
        left: 3%;
        top: 8%;
        }

    input{
        padding: 2rem 10rem 2rem .5rem;
        display: block;
    }
    button{
        transform: scale(1.1);
        margin-top: 1rem;
        display: block;
        
    }
}

.NavBar_MapTypeButtonContainerWrapper,
#LocateMeButton,
#ZoomInButton,
#ZoomOutButton{
    display: none;
}